# Project exclude paths
/node_modules/
/server/node_modules/
/admin/node_modules/
/client/node_modules/
/sshMyOwnKey
/sshMyOwnKey.pub
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
