.selected_a{
  color: #929090!important;
}

.feed_top_bar_a{
  padding: 10px 10px;
  vertical-align: middle;
  color: white;
}

.back_btn{

  color: white!important;

  &:hover{
    color: #3b3b3b!important;
  }

}