.topic_row {
  margin: 25px 0 !important; }

.topic_row_top {
  margin: 25px 0 !important;
  margin-bottom: 0 !important; }

.topic_row_bottom {
  margin: 25px 0 !important;
  margin-top: 0 !important; }

.badge_outlined {
  background-color: transparent !important;
  border-color: white !important;
  border-width: 1px !important;
  border-style: solid !important;
  color: white !important;
  margin-left: 10px !important; }
  .badge_outlined:hover {
    color: gray !important;
    border-color: gray !important; }

.comment_btn {
  margin-top: -15px;
  color: #282c34 !important;
  background-color: transparent !important;
  border-color: #323a45 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.badge_outlined_span {
  margin-left: 10px; }

.topic_data {
  margin-left: 30px !important;
  margin-right: 30px !important; }

.tolowercase {
  text-transform: lowercase !important; }
