.topic_row {
  margin: 25px 0 !important; }

.topic_row_top {
  margin: 25px 0 !important;
  margin-bottom: 0 !important; }

.topic_row_bottom {
  margin: 25px 0 !important;
  margin-top: 0 !important; }

.badge_outlined {
  background-color: transparent !important;
  border-color: #323a45;
  border-width: 1px;
  border-style: solid;
  color: #323a45;
  margin-right: 10px; }
  .badge_outlined:hover {
    color: gray;
    border-color: gray; }

.comment_btn {
  margin-top: -15px; }

.badge_outlined_span {
  margin-left: 10px; }
