.topic_row{
  margin-top: 25px!important;
  margin-bottom: 25px!important;
}
.topic_row_top{
  //margin: 25px 0 0;
  margin: 25px 0!important;
  margin-bottom: 0!important;

}
.topic_row_bottom{
  //margin: 0 0 25px;
  margin: 25px 0!important;
  margin-top: 0!important;
}
.badge_outlined{
  background-color: transparent!important;
  border-color: white!important;//#323a45;
  border-width: 1px!important;
  border-style: solid!important;
  color: white!important;//#323a45;
  margin-left: 10px!important;

  &:hover{
    color: gray!important;
    border-color: gray!important;
  }


}

.comment_btn{
  margin-top: -15px;
  color: #282c34!important;
  background-color: transparent!important;
  border-color: #323a45!important;
  border-width: 1px!important;
  border-style: solid!important;
}

.badge_outlined_span{
  margin-left: 10px;

}

.tolowercase {
  text-transform: lowercase!important;
}