$textColor: #090909;
$textColor_hover: #a23b3b;

.pointer{
    cursor: pointer;
}

.textColor{
    color: $textColor!important;

    cursor: pointer;

    &:hover{
        color: $textColor_hover!important;
    }

}
