.btn-bali {
  background-color: #282c34 !important;
  box-shadow: 0 2px 3px 0 #282c34, 0 2px 2px 0 rgba(40, 44, 52, 0.75) !important; }

.btn-bali:active, .btn-bali:focus, .btn-bali:hover {
  box-shadow: 0 3px 8px 0 #282c34, 0 3px 10px 0 rgba(40, 44, 52, 0.75) !important; }
